.footer {
  background-color: var(--primary-color); 
  color: var(--secondary-color); 
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}

/* Media query para tablets (largura máxima de 768px) */
@media (max-width: 768px) {
  .footer {
    font-size: 0.9rem; 
    padding: 15px 0; 
  }
}

/* Media query para celulares (largura máxima de 480px) */
@media (max-width: 480px) {
  .footer {
    font-size: 0.8rem; 
    padding: 10px 0; 
  }
}